/Kombucha/nbproject/private/
/KombuchaProject/nbproject/private/
/Kombucha/KombuchaProjectJava/nbproject/private/
/KombuchaProject/JavaCode/KombuchaProject/nbproject/private/
/KombuchaProject/JavaCode/KombuchaProject/build/
