/Kombucha/nbproject/private/
/KombuchaProject/nbproject/private/
/Kombucha/KombuchaProjectJava/nbproject/private/
/KombuchaProject/JavaCode/KombuchaProject/nbproject/private/
/KombuchaProject/JavaCode/KombuchaProject/build/
/KombuchaProject/JavaFXCode/ProjetoKombucha/nbproject/private/
/KombuchaProject/JavaFXCode/ProjetoKombucha/build/
/KombuchaProject/JavaFXMLCode/KombuchaCode/nbproject/private/
/KombuchaProject/JavaFXMLCode/KombuchaProject/nbproject/private/
/KombuchaProject/JavaFXMLCode/KombuchaProject/build/
/KombuchaProject/JavaFXMLCode/KombuchaProject/dist/
/KombuchaProject/JavaFXMLCode/Login/nbproject/private/
/KombuchaProject/JavaFXMLCode/Login/build/
/KombuchaProject/JavaFXMLCode/Login/dist/
/KombuchaProject/JavaFXMLCode/KombuchaProjectFX/nbproject/private/
/KombuchaProject/JavaFXMLCode/KombuchaProjectFX/build/
/KombuchaProject/JavaFXMLCode/KombuchaProjectFX/dist/